<div id="hsl" data-view-onchange="hslChanged">
  <label for="hueValue">Hue</label>
  <input type="range" name="hue" max="360" min="0" step="1" value="{{hue}}" id="hueRange">
  <input type="text" name="hue" value="{{hue}}" id="hueValue">

  <label for="saturationValue">saturation</label>
  <input type="range" name="saturation" max="100" min="0" step="1" value="{{saturation}}" id="saturationRange">
  <input type="text" name="saturation" value="{{saturation}}" id="saturationValue">

  <label for="lightnessValue">lightness</label>
  <input type="range" name="lightness" max="100" min="0" step="1" value="{{lightness}}" id="lightnessRange">
  <input type="text" name="lightness" value="{{lightness}}" id="lightnessValue">
</div>