<div id="rgb">
  <label for="red-value">Red</label>
  <input type="range" name="red" max="255" min="0" step="1" value="{{red}}" id="red-range">
  <input type="text" name="red" value="{{red}}" id="red-value">

  <label for="green-value">Green</label>
  <input type="range" name="green" max="255" min="0" step="1" value="{{green}}" id="green-range">
  <input type="text" name="green" value="{{green}}" id="green-value">

  <label for="blue-value">Blue</label>
  <input type="range" name="blue" max="255" min="0" step="1" value="{{blue}}" id="blue-range">
  <input type="text" name="blue" value="{{blue}}" id="blue-value">
</div>